<form action="/cart" method="POST">
    <input  type="hidden" value="<%= token %>" name="_csrf">
    <input type="hidden" name="productId" value="<%= product._id %>">
    <div class="input-group flex-nowrap">
        <input type="text" name="quantity" class="form-control px-1" value="1">
        <button class="input-group-text btn btn-success" type="submit">Add to Cart</button>
    </div>
</form>