<%- include('includes/head.ejs') %>

<body>
    <%- include('includes/navigation.ejs') %>
    
    
    <div class="mt-4 mx-auto w-50 alert alert-danger text-center" role="alert">
        <h1>An error was found</h1>
        <p>We are trying to fix the problem as soon as possible, sorry for the inconvenience.</p>
        <a href="/" class="btn btn-danger">Home</a>
    </div>

<%- include('includes/end.ejs') %>